table, th, td {
    border: 1px solid black;
    font-family: Courier;
    font-size: 95%;
}
h1 {
    color: black;
    background-color: cadetblue;
    font-family: Verdana;
    font-size: 50px;
}
body{
    background-color: white;
}
.stycke{
    font-family: Courier;
    border: 1px solid black;
}